.owl-carousel-category .owl-next, .owl-carousel-category .owl-prev {
    background: whitesmoke !important;
    padding-bottom: 5px ;
    width: 25px !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    /* border-radius: 50px !important; */
}

.owl-carousel-category .owl-next:hover, .owl-carousel-category .owl-prev:hover {
    color: unset !important;
    text-decoration: none !important;
}

.owl-carousel-category .owl-nav button {
    position: absolute;
    top: 30%;
}

.owl-carousel-category .owl-nav .owl-prev {
    left: -15px;
}

.owl-carousel-category .owl-nav .owl-next {
    right: -15px;
}

.owl-carousel-category .owl-nav .owl-prev:focus {
    border: none !important;
    outline: none !important;
}

.owl-carousel-category .owl-nav .owl-next:focus {
    border: none !important;
    outline: none !important;
}

.owl-carousel-category .owl-nav .disabled {
    display: none !important;
}

.owl-carousel-category {
    position: relative;
}


/*  */

.products-carousel .owl-next, .products-carousel .owl-prev {
    background: whitesmoke !important;
    padding-bottom: 5px ;
    width: 25px !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    /* border-radius: 50px !important; */
}

.products-carousel .owl-next:hover, .products-carousel .owl-prev:hover {
    color: unset !important;
    text-decoration: none !important;
}

.products-carousel .owl-nav button {
    position: absolute;
    top: 40%;
}

.products-carousel .owl-nav .owl-prev {
    left: -15px;
}

.products-carousel .owl-nav .owl-next {
    right: -15px;
}

.products-carousel .owl-nav .owl-prev:focus {
    border: none !important;
    outline: none !important;
}

.products-carousel .owl-nav .owl-next:focus {
    border: none !important;
    outline: none !important;
}

.products-carousel .owl-nav .disabled {
    display: none !important;
}

.owl-dots {
    display: none;
}

.products-carousel {
    position: relative;
}

.products-carousel .item {
    min-height: 10rem;
    background: #4DC7A0;
    border-radius: 10px; 
    box-shadow: 3px 3px; 
    background: white;
}

.products-carousel .product-name {
    font-size: 0.86rem; 
    /* 12px;  */
    /* text-align: justify; */
    margin-bottom: 4px;

    display: -webkit-box;           /* Defines the box display */
  -webkit-box-orient: vertical;   /* Specifies the box's orientation */
  -webkit-line-clamp: 2;          /* Limits the number of lines */
  overflow: hidden;               /* Hides overflow text */
  text-overflow: ellipsis;  
}

.products-carousel .location-name {
    font-size: 12px; 
    margin-bottom: 4px;
    font-weight: 450;
}

.products-carousel .product-image {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 130px;
    object-fit: cover;
}

a:hover {
    color: unset !important;
    text-decoration: none !important;
}

a {
    color: unset !important;
}